{%load static%}

<head>
    <title>Eye Can See</title>
    <link rel="stylesheet" href="{%static 'app1/landing.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id = "afterCam-body">
    <div id="body" class = "afterCam">


        <div class="topnav">
            <a class="active" href="/">
                <p id = "logo">Eye Can See</p>
            </a>

        </div>


        <div class="card">
            <img src="../../static/assets/images/user.png">
            <div class="container">
                <p>The person is:</p>
              <h4>{{name}}</h4>
             
            </div>
          </div>


    </div>

</body>